
.about_awards__top{
	margin: 44px 0 80px 25px;
}
.about_awards__title_1{
	font-size: 32px;
	color: #464646;
}
.about_awards__title_1_red{
	color: red;
}
/*==============>top end<================*/
.about_awards__content{
	position: relative;
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 20px;
}
.about_awards__content p{
	margin-bottom: 10px;
}
.ab_awards__right{
	margin: 1px 0 0 98px;
}
.ab_awards__right_bot{
	margin: 34px 0 0 98px;
}
.ab_awards__item_img{
	float: left;
	width: 124px;
	margin-left: 75px;
}
.ab_awards__item_text{
	float: left;
	width: 205px;
	margin-left: 60px;
}
.yamaha_img{
	width: 124px;
}
.ab_awards__item_img2, .ab_awards__item_img3{
	float: left;
}
.office_awards_img{
	width: 139px;
}
.golden_essay_img{
	width: 139px;
}
.ab_awards__title_2{
	font-size: 18px;
	color: #464646;
	margin-bottom: 12px;
}
.about_awards__logo_bot{
	position: absolute;
	left: 0;
	bottom: 22px;
}
.logo_img{
	width: 130px;
}
