.alcon_3_content{width: 1024px;}

.alcon_3_content-left{
	height:768px;
	width:75%;
	background-color: #FFFFFF;
}
.content-left_topic{
	margin: 43px 0 0 27px;
	font-size: 32px;
	line-height: 40px;
	color:#464646;
}
.content-left_topic>span{
	color: #ff0000;
}
.content-left_picture{
	margin-top: 55px;
}
.content-left_picture_image{
	width: 768px;
}
.content-left_logotip{
	margin-top: 32px; 
}
.content-left_logotip_image{
	width: 130px;
	position: absolute;
}
.alcon_3_content-right{
	height:768px;
	width: 25%;
	background-color: #464646;
}
.alcon_3_content-right_text{
	margin: 136px 24px 0px 24px;
	font-size: 13px;
	line-height: 15px; 
	color:#ececec;
	text-align: justify;
}