.alcon_2{
	width: 1024px;
	background: url('../images/bg_alcon_2.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.alcon_2__top{
	margin: 46px 0 65px 24px;
}
.alcon_2__title_1{
	font-size: 32px;
	color: #464646;
}
.alcon_2__title_1_red{
	color: red;
}
.eight{
	font-size: 44px;
	display: inline-block;
	margin-top: -11px;
}
/*==============>top end<================*/

.alcon_2__text{
	width: 211px;
	text-align: justify;
	position: absolute;
	right: 250px;
	bottom: 0;
	background: url('../images/background_text_8_3.png');
	padding: 15px 23px 3px 23px;
	color: #e6e6e6;
	font-size: 12px;
	margin: 61px 0 0 512px;
}
.alcon_2__text_p{
	margin-bottom: 10px;
}

.alcon_2__logo_bot{
	position: absolute;
	left: 0;
	bottom: 24px;
}
.logo_img{
	width: 130px;
}
