.saratov_5{
	width: 1024px;
}
.saratov_5__top{
	padding: 45px 0 17px 25px;
}
.saratov_5__title_1{
	font-size: 32px;
	color: #676767;
}
.saratov_5__title_1_red{
	color: red;
}
.eight{
	font-size: 44px;
	display: inline-block;
	margin-top: -11px;
}
/*==============>top end<================*/
.saratov_5__content{
	position: relative;
	padding-left: 25px;
	padding-bottom: 20px;
	text-align: justify;
	font-size: 13px;
	line-height: 15px;
	background: url(../images/bg_saratov_5.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.svaratov_5_text{
	width: 211px;
	float: right;
	text-align: justify;
	background: url('../images/bg_text.png');
	padding: 35px 23px 62px 23px;
	color: #e6e6e6;
	font-size: 13px;
}

.img_sratov_2{
	width: 312px;
}
.svaratov_box{
	width: 312px;
}
.project_8-7__logo_bot{
	position: absolute;
	left: 0;
	bottom: 24px;
}
.logo_img{
	width: 130px;
}